{{#each budgets as |budget|}}

  <!-- {{> partial}}
  Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <ul data-id="{{budget.id}}">
  <div>
    {{#if budget}}
    <li>Store: {{budget.store}}</li>
    <li>Amount: {{budget.amount}}</li>
      <li>Date: {{budget.date}}</li>
      <!-- <li><button data-id="{{budget.id}}" class="delete">Delete</button></li> -->
    {{else}}
      No author provided.
    {{/if}}
    <!-- <li><button><a class="delete"  data-toggle="modal" data-target="#updateformmodal" data-id={{budget.id}}>Delete</button></li> -->
    <!-- <li><button class="update" data-id={{budget.id}}>Update</button></li> -->
    <li><button><a class="delete" data-toggle="modal" data-target="#deleteformmodal" data-id="{{budget.id}}">Delete</a></button></li>
      <li><button><a class="update" data-toggle="modal" data-target="#updateformmodal" data-id="{{budget.id}}">update</a></button></li>
    <!-- <li><button class="update" data-id={{budget.id}}>Update</button></li> -->
    <!-- <li><a id="player-update-hover" class="player-update" data-id="{{player.id}}" data-toggle="modal" data-target="#playerUpdate">Update</a></li>
        <li><a id="player-delete-hover" class="player-delete" data-id="{{player.id}}">Delete</a></li> -->
  </div>
</ul>
{{/each}}
<!-- data-toggle="modal" data-target="#update-form" -->
